* {
  font-family: Arial, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: url("bg.png") no-repeat center center/cover;
  background-attachment: fixed;
}

header {
  background-color: #4c6faf;
  color: white;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}
header .logo:hover {
  color: burlywood;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: burlywood;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}
.active {
  color: black;
  padding: 10px;
  border-radius: 5px;
  background-color: burlywood;
}

nav ul li a {
  color: white;
  text-transform: uppercase;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  margin-bottom: 60px;
}

.hero h1 {
  color: #36abf4;
  font-size: 50px;
  font-size: 50px;
  animation: bounce 2s infinite;
}
.hero img {
  width: 500px;
}

.hero2 h1 {
  margin-top: 150px;
  text-align: center;
  font-size: 50px;
  font-size: 50px;
  animation: bounce 2s infinite;
}
section h2 {
  color: #36abf4;
}
.about {
  background-color: rgba(255, 255, 255, 0.488);
}
.about p {
  font-size: 20px;
  text-align: justify;
  padding: 0 50px 0;
}

.hero p {
  font-size: 20px;
  margin-bottom: 150px;
}

.hero2 div {
  background-color: rgba(255, 255, 255, 0.66);
  padding: 100px 20px;
}
.hero2 p {
  padding: 30px;
  font-size: 20px;
  margin-bottom: 200px;
  text-align: justify;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}
.hero2 h2 {
  text-align: center;
  margin: 30px 0 0;
}
.hero2 ol li {
  margin-top: 20px;
}

.btn {
  background-color: #4c6faf;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #36abf4;
  background: transparent;
  border: 3px solid #36abf4;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
span {
  height: 100%;
  width: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  border-radius: 10px;
  background: #36abf4;
  transition: 0.5s;
}
.btn:hover span {
  width: 100%;
}
.btn:hover {
  border: none;
  color: white;
}

.about,
.programs,
.contact {
  padding: 80px 20px;
  text-align: center;
}

.program-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.program-item {
  background-color: #36abf4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  animation: slide 2s infinite;
  animation-delay: 0.5s;
}
.program-item:hover {
  background-color: #7dc9f9;
  color: white;
  cursor: pointer;
}
.program-list a {
  color: white;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes slide {
  0%,
  100% {
    transform: translateX(20px);
  }
  25% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(20px);
  }
}
